<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YelpCamp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #28A745">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">YelpCamp</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                    <li class="nav-item"><a class="nav-link p-2" href="#">Login</a></li>
                    <li><a class="nav-link p-2" href="#">Sign In</a></li>
                    <li><a class="nav-link p-2" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>