<% include partials/header %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="A beautiful campground" style="width:50%">

<p><%= campground.description %></p>

<% include partials/footer %>