<% include partials/header %>

<h1>This is the homepage!</h1>
<div class="container">
    <img src="https://i.imgur.com/RHWRqNs.jpg" alt="Spaceman wallpaper" width="100%">
</div>

<% include partials/footer %>